/* Please see documentation at https://docs.microsoft.com/aspnet/core/client-side/bundling-and-minification
for details on configuring this project to bundle and minify static web assets. */

a.navbar-brand {
    white-space: normal;
    text-align: center;
    word-break: break-all;
}

/* Provide sufficient contrast against white background */
a {
    color: #0366d6;
}

.btn-primary {
    color: #fff;
    background-color: #1b6ec2;
    border-color: #1861ac;
}

.btn-no-shadow {
    box-shadow: none !important;
}

.nav-pills .nav-link.active, .nav-pills .show > .nav-link {
    color: #fff;
    background-color: #1b6ec2;
    border-color: #1861ac;
}

/* Sticky footer styles
-------------------------------------------------- */
html {
    font-size: 14px;
}

@media (min-width: 768px) {
    html {
        font-size: 16px;
    }
}

.border-top {
    border-top: 1px solid #e5e5e5;
}

.border-bottom {
    border-bottom: 1px solid #e5e5e5;
}

.box-shadow {
    box-shadow: 0 .25rem .75rem rgba(0, 0, 0, .05);
}

button.accept-policy {
    font-size: 1rem;
    line-height: inherit;
}

/* Sticky footer styles
-------------------------------------------------- */
html {
    position: relative;
    min-height: 100%;
}

body {
    /* Margin bottom by footer height */
    /*margin-bottom: 60px;*/
}

.footer {
    position: absolute;
    bottom: 0;
    width: 100%;
    white-space: nowrap;
    line-height: 60px; /* Vertically center the text there */
}

.material-icons {
    font-family: 'Material Icons';
    font-weight: normal;
    font-style: normal;
    font-size: 30px; /* Preferred icon size */
    display: inline-block;
    line-height: 1;
    text-transform: none;
    letter-spacing: normal;
    word-wrap: normal;
    white-space: nowrap;
    direction: ltr;
    /* Support for all WebKit browsers. */
    -webkit-font-smoothing: antialiased;
    /* Support for Safari and Chrome. */
    text-rendering: optimizeLegibility;
    /* Support for Firefox. */
    -moz-osx-font-smoothing: grayscale;
    /* Support for IE. */
    font-feature-settings: 'liga';
}

.icons8 {
    font-size: 10px;
}

.fa-trash:hover:before {
    color: red;
}

/*Language Toggle*/

.slider-v3 {
    position: relative;
    display: block;
    width: 3.5em;
    height: 1.5em;
    cursor: pointer;
    border-radius: 1.5em;
    transition: 350ms;
    background: #ddd;
}

    .slider-v3::after {
        position: absolute;
        content: '';
        width: 1em;
        height: 1em;
        top: 0.25em;
        left: 0.5em;
        border-radius: 1.5em;
        transition: width 200ms ease-out, height 300ms 50ms ease-in, top 300ms 50ms ease-in, left 250ms 50ms ease-in, background 300ms ease-in, box-shadow 300ms ease-in;
        background: #f2f2f2;
        box-shadow: 0 0 0 1.5em #f2f2f2 inset;
    }

input:checked + .slider-v3::after {
    width: 1em;
    height: 1em;
    top: 0.25em;
    left: 2em;
    background: #f2f2f2;
    box-shadow: 0 0 0 0 #f2f2f2 inset;
}

.margin-15 {
    margin: 1.5em auto;
}

.switch-label-left {
    padding-right: 0.2em;
}

.switch-label-right {
    padding-left: 0.2em;
}

.switch-input {
    position: absolute;
    left: -9999px;
}