@using AccounterApplication.Web.Controllers
@using AccounterApplication.Web.ViewModels.Expenses

@model ExpenseInputModel
@{
    ViewData["Title"] = "Edit Expense";
}

<h1>Add Expense</h1>

<div class="col-md-6">
    <form asp-controller="@nameof(ExpensesController).Replace(nameof(Controller), string.Empty)" asp-action="@nameof(ExpensesController.AddExpense)" class="form" method="post">
        <div class="form-group">
            <input asp-for="Id" type="hidden" />
        </div>
        <div class="form-group">
            <label asp-for="Description"></label>
            <input asp-for="Description" class="form-control" />
            <span asp-validation-for="Description" class="text-danger"></span>
        </div>
        <div class="form-group">
            <label asp-for="ExpenseAmount"></label>
            <input asp-for="ExpenseAmount" class="form-control" />
            <span asp-validation-for="ExpenseAmount" class="text-danger"></span>
        </div>
        <div class="form-group">
            <label asp-for="DateOfExpense"></label>
            <input asp-for="DateOfExpense" class="form-control" />
            <span asp-validation-for="DateOfExpense" class="text-danger"></span>
        </div>
        <div class="modal-footer">
            <input type="submit" value="Add" class="btn btn-primary" />
        </div>
    </form>

</div>

@section Scripts {
    @{ await Html.RenderPartialAsync("_ValidationScriptsPartial"); }
}