@using AccounterApplication.Web.ViewModels.UserDashboard

@using Resources = AccounterApplication.Common.LocalizationResources.Views.UserDashboard.UserDashboardResources

@model UserDashboardViewModel

@{
    ViewData["Title"] = Resources.Dashboard;
}

<div class="row mb-5">
    <div class="col">
        <h1>@ViewData["Title"]</h1>
    </div>
</div>

<div class="row">
    <partial name="_UserDashboardCardsPartial" />
</div>
<div class="row">
    <div class="col-xl-12 col-lg-7">
        <partial name="_UserDashboardLastExpensesPartial" />
    </div>
</div>
